<?php

// TODO Fill with your credentials
$apiConfig = [
    'eprint' => [
        'login'    => null,
        'password' => null,
        'cache'    => true,
        'debug'    => false,
    ],
    'pudo'   => [
        'carrier' => null,
        'key'     => null,
        'cache'   => true,
        'debug'   => false,
    ],
];

$classicNumber = '';
$predictNumber = '';

$centerNumber = '';
$countryCode = '';

$cache = false;
$debug = true;

$usePredict = false;