<?php

// TODO Fill with your credentials

$shipmentConfig = [
    "login"               => '',
    "password"            => '',
    "payer_id"            => '',
    "payer_address_id"    => '',
    "sender_id"           => '',
    "sender_address_id"   => '',
    "departure_unit_id"   => '',
    "sender_zip_code"     => '',
    "sender_country_code" => '',
];

$pudoConfig = [
    'carrier' => 'EXA',
    'key'     => 'deecd7bc81b71fcc0e292b53e826c48f',
    'cache'   => false,
    'debug'   => true,
];

$labelsDir = __DIR__ . DIRECTORY_SEPARATOR . 'tmp';
if (!is_dir($labelsDir)) {
    mkdir($labelsDir);
}
