<?php

// TODO Fill with your credentials

$userId = '';
$password = '';

$classicNumber = '';
$predictNumber = '';

$centerNumber = '';
$countryCode = '';

$cache = false;
$debug = true;

$usePredict = false;